
{% extends 'main/base.html' %}
{% load static %}

{% block title %}All Courses{% endblock %}


{% block content %}

<div class="container" >
    <div class="row">
        {% if msg %}
        {{msg}}
        {% endif %}
        <div class="col">
            {% for course in courses %}
            <img src="{{course.image.url}}" alt=""><br>
            <a href="{% url 'courses:course_detile_view' course.id %}">{{course.title}}</a>
            
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}