
{% extends 'main/base.html' %}
{% load static %}

{% block title %}My Added Courses{% endblock %}


{% block content %}

<div class="container" >
    <div class="row">
        {% if msg %}
        {{msg}}
        {% endif %}
        <div class="col">
            {% for course in expert_courses %}
            <a href="{% url 'courses:course_detile_view' course.id %}">{{course.title}}</a>


            <img src="{{course.image.url}}" alt="">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        edit
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'courses:add_course_content' course.id %}">Add Content</a></li>
                        <li><a class="dropdown-item" href="{% url 'courses:update_course' course.id %}">Update</a></li>
                        <li><a class="dropdown-item" href="{% url 'courses:delete_course' course.id %}">Delete</a></li>
                        </ul>
                </li>
              {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}