{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid video-container">
    <video autoplay loop muted playsinline class="w-100">
      
      <source src="{% static 'videos/candle_book.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="content-overlay">
      <h1>Illuminate Your Mind</h1>
      <P>Ignite The Flame Of Knowledge With Candle,Your Learning Companion</P>
    </div>
  </div>

{% endblock %}