{% extends 'main/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<section>
  <div class="container profile-container">
    <div class="row">
      <div class="col-md-4">
        <!-- User Avatar -->
        <img src="{{user.expertprofile.avatar.url}}" alt="User Avatar" class="img-fluid rounded-circle avatar mb-3">
      </div>
      <div class="col-md-8">
        <!-- User Bio -->
        <div class="d-flex justify-content-between">
          <div>
            <h2 class="profile-title">{{user.username}}</h2>
          </div>
          {% if request.user.is_authenticated and request.user.id == user.id %}
          <div>
            <a class="btn btn-primary" href="{% url 'users:update_profile_view' %}">Update Profile</a>
          </div>
          {% endif %}
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <h5>Bio:</h5>
            <p class="name-label">{{user.expertprofile.bio}}</p>
          </div>
       
  
        <!-- User Name -->
        <div class="row">
          <div class="col-md-6">
            <p class="name-label"><strong>First Name: </strong>{{user.first_name}}</p>
          </div>
          <div class="col-md-6">
            <p class="name-label"><strong>Last Name: </strong>{{user.last_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if user in experts %}  
<div class="section">
    <hr>
    <div class="container cc-education">
      <div class="d-flex justify-content-between">
        <div class="h4 text-center mb-4 title">Experiance</div>
        
        {% if request.user.is_authenticated and request.user.id == user.id %}
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add experience
          </button>          
          
        </div>
        {% endif %}
      </div>
      {% if experiences.count >= 0 %}
      {% for ex in experiences %}
  
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-secondary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              
              <div class="h5 text-center">{{ex.experience}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="d-flex justify-content-between" >
                  <div><h5>Experience Years</h5>
                    <p class="category">{{ex.experience_years}}</p>
                  </div>

                  <div>
                    {% if request.user.is_authenticated and request.user.id == user.id %}
                    <div>
                       
                      <a href="{% url 'users:delete_experience' ex.id %}" class="btn btn-danger">delete</a>       

                    </div>
                    {% endif %}                   
                  </div>
                  
              </div>
             
            </div>
          </div>
        </div>
      </div>

  
      {% endfor %}
  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Experience</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'users:add_experience' user.id %}" method="POST">
          {% csrf_token %}
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Experience</label>
              <input type="text"  name="experience" id="form3Example1c" class="form-control" required > 
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Years Of Experience</label>
              <input type="number" name="experience_years" id="form3Example1c" class="form-control" required > 
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Experience</button>
          </div>          
        </form>
      </div>


  </div> 

</div>

    </div>
    {% endif %}
  </div>
{% endif %}
{% endblock %}